<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Remson Rail System INC</title>

            <link href="http://localhost/remsonrails/public/css/all.min.css" rel="stylesheet">
            <link href="http://localhost/remsonrails/public/css/invoice.css" rel="stylesheet">

        </head>
        <body>

            <div class="container-fluid invoice-container">

                
                    <div class="row invoice-header">
                        <div class="invoice-col">

                                                    <h2>Remson Rail System INC</h2>
                                                <h3>Quotation #RRSQ-64736</h3>

                        </div>
                        <div class="invoice-col text-center">

                            <div class="invoice-status">
                                                            <span class="paid">Paid</span>
                                                    </div>

                            
                        </div>
                    </div>

                    <hr>

                    
                    <div class="row">
                        <div class="invoice-col right">
                            <strong>Pay To</strong>
                            <address class="small-text">
                                M/s EWEBGURU<br />
        PAN No.    AADFE8084H<br />
        ARN (GST)    AA0506170049736<br />
        GSTIN    09AADFE8084H1Z5<br />
        SAC  998315<br />
        G-12, First Floor, Sector 63<br />
        Noida<br />
        Uttar Pradesh<br />
        Pin 201301
                                                    </address>
                        </div>
                        <div class="invoice-col">
                            <strong>Invoiced To</strong>
                            <address class="small-text">
                                Creators Hub<br />                        Spurgeon Charles<br />
                                D 3, Rajajipuram, Lucknow<br />
                                Lucknow, Uttar Pradesh, 226017<br />
                                India
                                                                            </address>
                        </div>
                    </div>

                    <div class="row">
                        <div class="invoice-col right">
                            <strong>Payment Method</strong><br>
                            <span class="small-text">
                                                            Cards/NEFT/Wallet (CCAvenue)
                                                    </span>
                            <br /><br />
                        </div>
                        <div class="invoice-col">
                            <strong>Invoice Date</strong><br>
                            <span class="small-text">
                                13/01/2020<br><br>
                            </span>
                        </div>
                    </div>

                    <br />

                    
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Invoice Items</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <td><strong>Description</strong></td>
                                            <td width="20%" class="text-center"><strong>Amount</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                                                            <tr>
                                                <td>Value VPS-UM - Creators.Hub (13/01/2020 - 12/02/2020)<br />
        Operating System: CentOS Linux with Virtualmin control panel (Free) *</td>
                                                <td class="text-center">Rs.1095.00 INR</td>
                                            </tr>
                                                                        <tr>
                                            <td class="total-row text-right"><strong>Sub Total</strong></td>
                                            <td class="total-row text-center">Rs.1095.00 INR</td>
                                        </tr>
                                                                            <tr>
                                                <td class="total-row text-right"><strong>9.00% CGST</strong></td>
                                                <td class="total-row text-center">Rs.98.55 INR</td>
                                            </tr>
                                                                                                            <tr>
                                                <td class="total-row text-right"><strong>9.00% SGST</strong></td>
                                                <td class="total-row text-center">Rs.98.55 INR</td>
                                            </tr>
                                                                        <tr>
                                            <td class="total-row text-right"><strong>Credit</strong></td>
                                            <td class="total-row text-center">Rs.0.00 INR</td>
                                        </tr>
                                        <tr>
                                            <td class="total-row text-right"><strong>Total</strong></td>
                                            <td class="total-row text-center">Rs.1292.10 INR</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                                    <p>* Indicates a taxed item.</p>
                    
                    <div class="transactions-container small-text">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td class="text-center"><strong>Transaction Date</strong></td>
                                        <td class="text-center"><strong>Gateway</strong></td>
                                        <td class="text-center"><strong>Transaction ID</strong></td>
                                        <td class="text-center"><strong>Amount</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                                                    <tr>
                                            <td class="text-center">13/01/2020</td>
                                            <td class="text-center">Cards/NEFT/Wallet (CCAvenue)</td>
                                            <td class="text-center">109746404234</td>
                                            <td class="text-center">Rs.1292.10 INR</td>
                                        </tr>
                                                                <tr>
                                        <td class="text-right" colspan="3"><strong>Balance</strong></td>
                                        <td class="text-center">Rs.0.00 INR</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="pull-right btn-group btn-group-sm hidden-print">
                        <a href="javascript:window.print()" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                        <a href="dl.php?type=i&amp;id=256470" class="btn btn-default"><i class="fas fa-download"></i> Download</a>
                    </div>

                
            </div>

            <p class="text-center hidden-print"><a href="clientarea.php">&laquo; Back to Client Area</a></a></p>

        </body>
        </html>'